*{
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
}

.octodex{
list-style: none;

}
.octocat img{
height: 320px;
width: 320px;
border: 1px solid lightgray;
margin: 5px;
}

.octocat{
float: left;
}

.image-footer{


}

.image-number{
font: 80% sans-serif;
color: lightgray;
}

.image-caption{
display: inline;
  float: right;
  font: 80% sans-serif;
}

.authors img{
  height: 20px;
  width: 20px;


}

.authors{
list-style: none;
float: right;
padding-left: 0px;
}
